footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    /*position: absolute;
    bottom: 0;*/
    width: 100%;
    height: 350px;
    background: linear-gradient(to bottom, white 40%, #3cadef 40% 90%, #185574 90%);
    background-color: #3cadef;
    border-top: 1px solid lightgray;
}
.topfooter{
    height: 40%;
    width: 65%;
    margin: 0 auto;
    padding-top: 45px;
    .footer_slide_item{
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                height: 50px;
                width: 80%;
            }
        }
    }
}

.slick-arrow{
    height: 56px !important;
    width: 56px !important;
}
.slick-prev.slick-arrow::before{
    margin-right: 20px;
    height: 56px !important;
}
.slick-next:before{
    content: url("https://lh3.googleusercontent.com/u/0/drive-viewer/AAOQEOTOK1EpsxG3I2Nc2tN-jrVDMUFVK0DNS0YAnBcOThWzqr8fat70pWSMD_e8-qB6NIdHOsZqhoibvK9Q2oqkPwVH2o4NgA=w3584-h1904") !important;
    position: absolute;
    left: 40px;
    bottom: -3px;
}

.slick-prev:before {
    content: url("https://lh3.googleusercontent.com/u/0/drive-viewer/AAOQEOTHinbAHqr5YFQtN1yVdHJfRs_MTEoeivanxjw9hZ6_lG52PzaD1odo6sD-D84sJ-s8XA0l_4V5TYeqWkbFrFa1buE=w3584-h1904") !important;
    position: absolute;
    right: 20px;
    bottom: -3px;
}
.slick-next:before, .slick-prev:before {
    font-family: slick;
    color: lightgray !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.midfooter {
    margin: 0 auto;
    width: 65%;
    font-size: 1vw;
    height: 50%;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: relative;
    a {
      text-decoration: none;
      color: white;
    }
    a:hover{
        color: black;
        text-decoration: underline;
        cursor: pointer;
    }
    .midfooter_item{
      border-right: 1px solid #3499d2;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      list-style: none;
      height: 100%;
      padding: 0;
      width: 20%;
      h3{
        padding-left: 10%;
        color: white;
      }
      ul{
        height: 50%;
        padding: 0;
        padding-left: 10%;
        li{
            list-style: none;
            a{
                color: #68cbf9;
            }
        }
      }
    }
  }

.midfooter_item:first-child {
    border-left: 1px solid #3499d2;
}
.midfooter_item:last-child{
    ul{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}

.botfooter{
    color: white;
    font-size: 0.8vw;
    font-weight: 100;
    width: 65%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    a {
        color: #68cbf9;
        text-decoration: underline;
    }
}

@media (orientation: portrait) {
    footer{
        width: 100%;
        height: 600px;
        background: linear-gradient(to bottom, white 22%, #3cadef 22% 90%, #185574 90%);
        background-color: #3cadef;
        border-top: 1px solid lightgray;
    }
    .topfooter{
        height: 22%;
        width: 65%;
        margin: 0 auto;
        padding-top: 45px;
        .footer_slide_item{
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    height: 50px;
                    width: 80%;
                }
            }
        }
    }
    
    .slick-arrow{
        height: 56px !important;
        width: 56px !important;
    }
    .slick-prev.slick-arrow::before{
        margin-right: 20px;
        height: 56px !important;
    }
    .slick-next:before{
        content: url("https://lh3.googleusercontent.com/u/0/drive-viewer/AAOQEOTOK1EpsxG3I2Nc2tN-jrVDMUFVK0DNS0YAnBcOThWzqr8fat70pWSMD_e8-qB6NIdHOsZqhoibvK9Q2oqkPwVH2o4NgA=w3584-h1904") !important;
        position: absolute;
        left: 40px;
        bottom: -3px;
    }
    
    .slick-prev:before {
        content: url("https://lh3.googleusercontent.com/u/0/drive-viewer/AAOQEOTHinbAHqr5YFQtN1yVdHJfRs_MTEoeivanxjw9hZ6_lG52PzaD1odo6sD-D84sJ-s8XA0l_4V5TYeqWkbFrFa1buE=w3584-h1904") !important;
        position: absolute;
        right: 20px;
        bottom: -3px;
    }
    .slick-next:before, .slick-prev:before {
        font-family: slick;
        color: lightgray !important;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .midfooter {
        margin: 0 auto;
        width: 100%;
        font-size: 2.4vw;
        height: 68%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0;
        padding: 0px;
        position: relative;
        .midfooter_item{
          border: none;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-around;
          list-style: none;
          height: 100%;
          padding: 0;
          width: 100%;
        }
      }
    
    .midfooter_item:first-child {
        border-left: none;
    }
    
    .botfooter{
        font-size: 3vw;
        font-weight: 100;
        width: 65%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}