.nav1 {
  background-color: #cccccc;
  display: flex;
  justify-content: center;
}

.nav1_itemi {
  margin: 0 auto;
  width: 65%;
  font-size: 0.9em;
  height: 40px;
  display: flex;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  position: relative;
}
.nav1_itemi a {
  text-decoration: none;
  color: #226784;
  transform: scaleX(1.1);
  cursor: pointer;
}
.nav1_itemi a:hover {
  color: black;
  text-decoration: underline;
}
.nav1_itemi .nav1_item {
  display: flex;
  align-items: center;
  list-style: none;
  height: 100%;
  margin: 0 5px;
  padding: 0 5px;
}

.nav1_item:first-child {
  justify-self: flex-start;
  padding-left: 0;
}
.nav1_item:first-child a {
  color: black;
  text-decoration: underline;
}

.nav1_item:last-child {
  padding-right: 0;
}

.nav1_item:nth-child(2) {
  position: absolute;
  left: 70px;
}

.nav1_item:nth-child(3) {
  position: absolute;
  left: 180px;
  padding-right: 6%;
}

.nav1_item:nth-child(4) {
  position: absolute;
  right: 180px;
  padding-left: 6%;
}

.nav1_item:nth-child(5) {
  position: absolute;
  right: 70px;
  padding-left: 6%;
}

.nav2big {
  background-color: #005574;
  display: flex;
  justify-content: center;
}

.nav2 {
  width: 65%;
  margin: 0 auto;
  height: 100px;
  display: flex;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  position: relative;
}
.nav2 .centro {
  font-size: 50px;
  color: white;
}
.nav2 #centroplava {
  color: #01adf0;
}
.nav2 .searchdiv {
  margin-left: 10%;
  width: 50%;
  display: flex;
  align-items: center;
  position: absolute;
  left: 375px;
}
.nav2 .searchdiv #searchform {
  border: none;
  padding: 12px;
  width: 70%;
}
.nav2 .searchdiv #lupaicon {
  width: 30px;
  height: 80%;
  position: absolute;
  right: 27%;
}
.nav2 .searchdiv #fbicon {
  width: 42px;
  max-height: 100%;
  padding-left: 10px;
}
.nav2 .korpadiv {
  display: flex;
  justify-items: flex-end;
  align-items: center;
  width: 15%;
  height: 40px;
  font-size: 0.9em;
  position: relative;
}
.nav2 .korpadiv a {
  padding-right: 10px;
  color: #3cadef;
}
.nav2 .korpadiv span {
  color: white;
}
.nav2 .korpadiv #korpaicon {
  max-height: 100%;
  width: 42px;
  position: absolute;
  right: 0;
}

.nav3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}

.nav3_itemi {
  background-color: #3cadef;
  margin: 0 auto;
  width: 65%;
  font-size: 0.9em;
  height: 55px;
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: relative;
}
.nav3_itemi #homeicon {
  background-color: #42cbff;
  border-top: 2px solid white;
}
.nav3_itemi #ahome {
  width: 50px;
  height: 53px;
}
.nav3_itemi a {
  text-decoration: none;
  color: white;
}
.nav3_itemi a:hover {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}
.nav3_itemi .nav3_item {
  border-right: 1px solid #3499d2;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  height: 100%;
  padding: 0;
  width: 10%;
}

.nav3_item:nth-child(2) {
  border: none;
  width: auto;
}

.nav3_item:nth-child(11) {
  width: 15%;
}
.nav3_item:nth-child(11) a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav3_item:nth-child(11) #nav3lastblue {
  color: #185574;
  font-weight: 100;
}

.right_trap {
  position: absolute;
  right: -90px;
  border-top: 55px solid #3cadef;
  border-right: 25px solid transparent;
  height: 0;
  width: 80px;
  z-index: -1;
}

.left_trap {
  position: absolute;
  left: -80px;
  border-top: 55px solid #3cadef;
  border-left: 25px solid transparent;
  height: 0;
  width: 80px;
  z-index: -1;
}/*# sourceMappingURL=header.css.map */