.nav1 {
  background-color: #cccccc;
  display: flex;
  justify-content: center;
}

.nav1_itemi {
  margin: 0 auto;
  width: 65%;
  font-size: 0.9vw;
  height: 40px;
  display: flex;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  position: relative;
}
.nav1_itemi a {
  text-decoration: none;
  color: #226784;
  transform: scaleX(1.1);
  cursor: pointer;
}
.nav1_itemi a:hover {
  color: black;
  text-decoration: underline;
}
.nav1_itemi .nav1_item {
  display: flex;
  align-items: center;
  list-style: none;
  height: 100%;
  margin: 0 5px;
  padding: 0 5px;
}

.nav1_item:first-child {
  justify-self: flex-start;
  padding-left: 0;
}
.nav1_item:first-child a {
  color: black;
  text-decoration: underline;
}

.nav1_item:last-child {
  padding-right: 0;
}

.nav1_item:nth-child(2) {
  position: absolute;
  left: 6%;
}

.nav1_item:nth-child(3) {
  position: absolute;
  left: 16%;
  padding-right: 6%;
}

.nav1_item:nth-child(4) {
  position: absolute;
  right: 16%;
  padding-left: 6%;
}

.nav1_item:nth-child(5) {
  position: absolute;
  right: 6%;
  padding-left: 6%;
}

.nav2big {
  background-color: #005574;
  display: flex;
  justify-content: center;
}

.nav2 {
  width: 65%;
  margin: 0 auto;
  height: 100px;
  display: flex;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  position: relative;
}
.nav2 .centro {
  font-size: 2.8vw;
  transform: scale(1, 1.3);
  color: white;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 0.001em;
}
.nav2 #centroplava {
  color: #01adf0;
}
.nav2 .searchdiv {
  margin-left: 10%;
  width: 50%;
  display: flex;
  align-items: center;
  position: absolute;
  left: 33%;
}
.nav2 .searchdiv #searchform {
  border: none;
  padding: 2%;
  width: 70%;
}
.nav2 .searchdiv #searchform::-moz-placeholder {
  font-size: 0.8vw;
}
.nav2 .searchdiv #searchform::placeholder {
  font-size: 0.8vw;
}
.nav2 .searchdiv #lupaicon {
  width: 6%;
  height: 80%;
  position: absolute;
  right: 27%;
}
.nav2 .searchdiv #fbicon {
  width: 7.5%;
  max-height: 100%;
  padding-left: 10px;
}
.nav2 .korpadiv {
  display: flex;
  justify-items: flex-end;
  align-items: center;
  width: 15%;
  height: 40px;
  font-size: 0.8vw;
  position: relative;
}
.nav2 .korpadiv a {
  padding-right: 10px;
  color: #3cadef;
}
.nav2 .korpadiv span {
  color: white;
}
.nav2 .korpadiv #korpaicon {
  max-height: 100%;
  width: 24%;
  position: absolute;
  right: 0;
}

.nav3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
  font-weight: 600;
}

.nav3_itemi {
  background-color: #3cadef;
  margin: 0 auto;
  width: 65%;
  font-size: 0.9em;
  height: 55px;
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: relative;
}
.nav3_itemi #homeicon {
  background-color: #42cbff;
  border-top: 2px solid white;
}
.nav3_itemi #ahome {
  width: 50px;
  height: 53px;
}
.nav3_itemi a {
  text-decoration: none;
  color: white;
}
.nav3_itemi a:hover {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}
.nav3_itemi .nav3_item {
  border-right: 1px solid #3499d2;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  height: 100%;
  padding: 0;
  width: 10%;
}

.nav3_item:nth-child(2) {
  border: none;
  width: auto;
}

.nav3_item:nth-child(11) {
  width: 15%;
}
.nav3_item:nth-child(11) a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav3_item:nth-child(11) #nav3lastblue {
  color: #185574;
  font-weight: 100;
}

.right_trap {
  position: absolute;
  right: -90px;
  border-top: 55px solid #3cadef;
  border-right: 25px solid transparent;
  height: 0;
  width: 80px;
  z-index: -1;
}

.left_trap {
  position: absolute;
  left: -80px;
  border-top: 55px solid #3cadef;
  border-left: 25px solid transparent;
  height: 0;
  width: 80px;
  z-index: -1;
}

@media (orientation: portrait) {
  .nav1 {
    background-color: #cccccc;
    display: flex;
    justify-content: center;
  }
  .nav1_itemi {
    font-size: 2vw;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    align-items: center;
  }
  .nav1_itemi .nav1_item {
    display: flex;
    align-items: center;
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .nav1_item:first-child {
    justify-self: center;
  }
  .nav1_item:first-child a {
    color: black;
    text-decoration: underline;
  }
  .nav1_item:nth-child(2) {
    position: static;
    left: 0;
  }
  .nav1_item:nth-child(3) {
    position: static;
    left: 0;
    padding-right: 0;
  }
  .nav1_item:nth-child(4) {
    position: static;
    right: 0;
    padding-left: 0;
  }
  .nav1_item:nth-child(5) {
    position: static;
    right: 0;
    padding-left: 0;
  }
  .nav2big {
    background-color: #005574;
    display: flex;
    justify-content: center;
  }
  .nav2 {
    width: 65%;
    margin: 0 auto;
    height: 200px;
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .nav2 .centro {
    margin: 0 auto;
    padding: 0;
    font-size: 5vw;
  }
  .nav2 .searchdiv {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0;
  }
  .nav2 .searchdiv #searchform {
    border: none;
    padding: 12px;
    width: 70%;
  }
  .nav2 .searchdiv #searchform::-moz-placeholder {
    font-size: 1.8vw;
  }
  .nav2 .searchdiv #searchform::placeholder {
    font-size: 1.8vw;
  }
  .nav2 .searchdiv #lupaicon {
    width: 30px;
    height: 80%;
    position: absolute;
    right: 20%;
  }
  .nav2 .korpadiv {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 30%;
    height: 40px;
    font-size: 0.9em;
    position: static;
  }
  .nav2 .korpadiv a {
    padding-right: 5px;
  }
  .nav2 .korpadiv #korpaicon {
    padding-left: 5px;
    max-height: 100%;
    width: 42px;
    position: static;
  }
  .nav3_itemi {
    width: 100%;
    height: 500px;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: relative;
  }
  .nav3_itemi .nav3_item {
    font-size: 4vw;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    height: 100%;
    padding: 0;
    width: 70%;
  }
  .nav3_item:nth-child(11) {
    width: auto;
  }
  .nav3_item:nth-child(11) a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav3_item:nth-child(11) #nav3lastblue {
    color: #185574;
    font-weight: 100;
  }
  .right_trap {
    display: none;
  }
  .left_trap {
    display: none;
  }
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  /*position: absolute;
  bottom: 0;*/
  width: 100%;
  height: 350px;
  background: linear-gradient(to bottom, white 40%, #3cadef 40% 90%, #185574 90%);
  background-color: #3cadef;
  border-top: 1px solid lightgray;
}

.topfooter {
  height: 40%;
  width: 65%;
  margin: 0 auto;
  padding-top: 45px;
}
.topfooter .footer_slide_item a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.topfooter .footer_slide_item a img {
  height: 50px;
  width: 80%;
}

.slick-arrow {
  height: 56px !important;
  width: 56px !important;
}

.slick-prev.slick-arrow::before {
  margin-right: 20px;
  height: 56px !important;
}

.slick-next:before {
  content: url("https://lh3.googleusercontent.com/u/0/drive-viewer/AAOQEOTOK1EpsxG3I2Nc2tN-jrVDMUFVK0DNS0YAnBcOThWzqr8fat70pWSMD_e8-qB6NIdHOsZqhoibvK9Q2oqkPwVH2o4NgA=w3584-h1904") !important;
  position: absolute;
  left: 40px;
  bottom: -3px;
}

.slick-prev:before {
  content: url("https://lh3.googleusercontent.com/u/0/drive-viewer/AAOQEOTHinbAHqr5YFQtN1yVdHJfRs_MTEoeivanxjw9hZ6_lG52PzaD1odo6sD-D84sJ-s8XA0l_4V5TYeqWkbFrFa1buE=w3584-h1904") !important;
  position: absolute;
  right: 20px;
  bottom: -3px;
}

.slick-next:before, .slick-prev:before {
  font-family: slick;
  color: lightgray !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.midfooter {
  margin: 0 auto;
  width: 65%;
  font-size: 1vw;
  height: 50%;
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: relative;
}
.midfooter a {
  text-decoration: none;
  color: white;
}
.midfooter a:hover {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}
.midfooter .midfooter_item {
  border-right: 1px solid #3499d2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  list-style: none;
  height: 100%;
  padding: 0;
  width: 20%;
}
.midfooter .midfooter_item h3 {
  padding-left: 10%;
  color: white;
}
.midfooter .midfooter_item ul {
  height: 50%;
  padding: 0;
  padding-left: 10%;
}
.midfooter .midfooter_item ul li {
  list-style: none;
}
.midfooter .midfooter_item ul li a {
  color: #68cbf9;
}

.midfooter_item:first-child {
  border-left: 1px solid #3499d2;
}

.midfooter_item:last-child ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.botfooter {
  color: white;
  font-size: 0.8vw;
  font-weight: 100;
  width: 65%;
  height: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.botfooter a {
  color: #68cbf9;
  text-decoration: underline;
}

@media (orientation: portrait) {
  footer {
    width: 100%;
    height: 800px;
    background: linear-gradient(to bottom, white 22%, #3cadef 22% 90%, #185574 90%);
    background-color: #3cadef;
    border-top: 1px solid lightgray;
  }
  .topfooter {
    height: 18%;
    width: 65%;
    margin: 0 auto;
    padding-top: 45px;
  }
  .topfooter .footer_slide_item a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .topfooter .footer_slide_item a img {
    height: 50px;
    width: 80%;
  }
  .slick-arrow {
    height: 56px !important;
    width: 56px !important;
  }
  .slick-prev.slick-arrow::before {
    margin-right: 20px;
    height: 56px !important;
  }
  .slick-next.slick-arrow::before {
    height: 56px !important;
  }
  .slick-next:before {
    content: url("https://lh3.googleusercontent.com/u/0/drive-viewer/AAOQEOTOK1EpsxG3I2Nc2tN-jrVDMUFVK0DNS0YAnBcOThWzqr8fat70pWSMD_e8-qB6NIdHOsZqhoibvK9Q2oqkPwVH2o4NgA=w3584-h1904") !important;
    position: absolute;
    left: 40px;
    bottom: -3px;
  }
  .slick-prev:before {
    content: url("https://lh3.googleusercontent.com/u/0/drive-viewer/AAOQEOTHinbAHqr5YFQtN1yVdHJfRs_MTEoeivanxjw9hZ6_lG52PzaD1odo6sD-D84sJ-s8XA0l_4V5TYeqWkbFrFa1buE=w3584-h1904") !important;
    position: absolute;
    right: 20px;
    bottom: -3px;
  }
  .slick-next:before, .slick-prev:before {
    font-family: slick;
    color: lightgray !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .midfooter {
    margin: 0 auto;
    width: 100%;
    font-size: 2.4vw;
    height: 72%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 0px;
    position: relative;
    margin-top: 5%;
  }
  .midfooter .midfooter_item {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    list-style: none;
    height: 100%;
    padding: 0;
    width: 100%;
  }
  .midfooter_item:first-child {
    border-left: none;
  }
  .botfooter {
    font-size: 3vw;
    font-weight: 100;
    width: 65%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: "Arial Narrow";
  font-weight: 100;
}

.mainflex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 65%;
  margin: 0 auto;
  height: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.leftside_mainflex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 75%;
}

.leftside_naslovna {
  color: gray;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.leftside_naslovna span {
  color: #00adef;
}

.leftside_mainflex_part1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.leftside_mainflex_part1 .leftside_mainflex_part1_left {
  width: 35%;
  display: flex;
  flex-direction: column;
}
.leftside_mainflex_part1 .leftside_mainflex_part1_left .leftside_mainflex_part1_left_imgdiv {
  border: 1px solid lightgray;
  width: 100%;
}
.leftside_mainflex_part1 .leftside_mainflex_part1_left .leftside_mainflex_part1_left_imgdiv img {
  width: 100%;
}
.leftside_mainflex_part1 .leftside_mainflex_part1_left .leftside_mainflex_part1_footer {
  height: 40%;
  width: 87%;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftside_mainflex_part1 .leftside_mainflex_part1_left .leftside_mainflex_part1_footer .footer_slide_item a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftside_mainflex_part1 .leftside_mainflex_part1_left .leftside_mainflex_part1_footer .footer_slide_item a img {
  height: 70px;
  width: 100%;
  border-right: 1px solid lightgray;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.leftside_mainflex_part1 .leftside_mainflex_part1_left .leftside_mainflex_part1_footer .slick-next:before {
  content: url("https://lh3.googleusercontent.com/u/0/drive-viewer/AAOQEOT-4SC38u8b-6V4DbAiKy7mMah1UhhKjgFgwGTR_1cgBh4kVOEHPludzAdV-Q9LU7uIn4zOaNm_S6FFDMC_vOwRicIpgg=w3584-h1904") !important;
  position: absolute;
  left: 31px;
  bottom: -8px;
  border: 1px solid lightgray;
  border-left: none;
}
.leftside_mainflex_part1 .leftside_mainflex_part1_left .leftside_mainflex_part1_footer .slick-prev:before {
  content: url("https://lh3.googleusercontent.com/u/0/drive-viewer/AAOQEOSyQdkWCTmL9hz8PiYwz3QeNo7FWXqHHB2LWSURRXZ_wWGjmOAMUsEK2JZnC0-UktJGfKqmMUhk7xmAruXNpuIEe-5zRA=w3584-h1904") !important;
  position: absolute;
  right: 10px;
  bottom: -8px;
  border: 1px solid lightgray;
}
.leftside_mainflex_part1 .leftside_mainflex_part1_left .leftside_mainflex_part1_footer .slick-arrow {
  height: 56px !important;
  width: 56px !important;
}
.leftside_mainflex_part1 .leftside_mainflex_part1_left .leftside_mainflex_part1_footer .slick-prev.slick-arrow::before {
  margin-right: 20px;
  height: 70px !important;
}
.leftside_mainflex_part1 .leftside_mainflex_part1_left .leftside_mainflex_part1_footer .slick-next.slick-arrow::before {
  height: 70px !important;
}
.leftside_mainflex_part1 .leftside_mainflex_part1_right {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.leftside_mainflex_part1 .leftside_mainflex_part1_right h1 {
  font-size: 1.6vw;
  padding-top: 0;
  margin: 0;
  width: 60%;
}
.leftside_mainflex_part1 .leftside_mainflex_part1_right .cijena_i_sifra {
  display: flex;
  font-size: 1.7vw;
}
.leftside_mainflex_part1 .leftside_mainflex_part1_right .cijena_i_sifra h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.leftside_mainflex_part1 .leftside_mainflex_part1_right .cijena_i_sifra h2:first-child {
  height: 40px;
  display: flex;
  align-items: center;
  color: #00adef;
  padding-right: 15px;
  border-right: 1px solid lightgray;
}
.leftside_mainflex_part1 .leftside_mainflex_part1_right .cijena_i_sifra h2:last-child {
  height: 40px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 15px;
  padding-right: 15px;
  border-right: 1px solid lightgray;
}
.leftside_mainflex_part1 .leftside_mainflex_part1_right .cijena_i_sifra h2:last-child span {
  font-weight: 100;
}
.leftside_mainflex_part1 .leftside_mainflex_part1_right .cijena_i_sifra h2:last-child span:first-child {
  font-family: Arial, Helvetica, sans-serif;
  color: #00adef;
}
.leftside_mainflex_part1 .leftside_mainflex_part1_right .cijena_i_sifra h2:last-child span:last-child {
  font-size: 14px;
}
.leftside_mainflex_part1 .leftside_mainflex_part1_right h5 {
  margin: 0;
  font-weight: 600;
}
.leftside_mainflex_part1 .leftside_mainflex_part1_right p {
  font-size: 0.8vw;
  margin-top: 5px;
  font-weight: 100;
  color: gray;
  line-height: 130%;
}
.leftside_mainflex_part1 .leftside_mainflex_part1_right .kolicina_i_share {
  display: flex;
  align-items: center;
  height: 25px;
  width: 95%;
}
.leftside_mainflex_part1 .leftside_mainflex_part1_right .kolicina_i_share p {
  padding-right: 7px;
  margin: 0;
}
.leftside_mainflex_part1 .leftside_mainflex_part1_right .kolicina_i_share input {
  border: 1px solid lightgray;
  width: 12%;
}
.leftside_mainflex_part1 .leftside_mainflex_part1_right .kolicina_i_share input::-moz-placeholder {
  text-align: center;
}
.leftside_mainflex_part1 .leftside_mainflex_part1_right .kolicina_i_share input::placeholder {
  text-align: center;
}
.leftside_mainflex_part1 .leftside_mainflex_part1_right .kolicina_i_share .btnplus {
  background-color: white;
  border: 1px solid lightgray;
}
.leftside_mainflex_part1 .leftside_mainflex_part1_right .kolicina_i_share #btnplus1 {
  border-left: none;
  margin-right: 10%;
  color: gray;
}
.leftside_mainflex_part1 .leftside_mainflex_part1_right .kolicina_i_share #btnplus2 {
  margin-right: 2%;
  background-color: red;
  color: white;
}
.leftside_mainflex_part1 .leftside_mainflex_part1_right .kolicina_i_share img {
  height: 80%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}
.leftside_mainflex_part1 .leftside_mainflex_part1_right .dodajukorpu_dugmad {
  height: 50px;
  display: flex;
  align-items: center;
}
.leftside_mainflex_part1 .leftside_mainflex_part1_right .dodajukorpu_dugmad .btnkorpa {
  color: white;
  font-size: 0.8vw;
  height: 80%;
  border: none;
  padding: 10px 20px;
  margin: 4px 2px;
  border-radius: 16px;
}
.leftside_mainflex_part1 .leftside_mainflex_part1_right .dodajukorpu_dugmad #btnkorpa1 {
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00adef;
  margin-right: 3%;
}
.leftside_mainflex_part1 .leftside_mainflex_part1_right .dodajukorpu_dugmad #btnkorpa1 img {
  width: 20%;
}
.leftside_mainflex_part1 .leftside_mainflex_part1_right .dodajukorpu_dugmad #btnkorpa2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #999999;
  padding: 10px 30px;
}

.rightside_mainflex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 22%;
}

.rightside_video1 {
  margin-top: 30px;
}

.rightside_video1, .rightside_video2 {
  margin-bottom: 20px;
  width: 100%;
  height: 180px;
  cursor: pointer;
  position: relative;
}
.rightside_video1 video, .rightside_video2 video {
  width: 100%;
  height: 100%;
}

#playpause1_img, #playpause2_img {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.rightside_newsletter {
  margin-top: 0;
  margin-bottom: 20px;
  height: 220px;
  width: 100%;
  background-color: #015474;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.rightside_newsletter .rightside_newsletter_naslov {
  font-size: 0.8vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 25%;
  width: 100%;
  color: white;
}
.rightside_newsletter .rightside_newsletter_naslov img {
  padding: 0;
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  width: 20px;
}
.rightside_newsletter .rightside_newsletter_input {
  width: 90%;
  height: 30%;
  display: flex;
}
.rightside_newsletter .rightside_newsletter_input input {
  color: white;
  padding: 5px;
  padding-left: 0;
  height: 50%;
  width: 100%;
  border: none;
  border-bottom: 1px solid #00adef;
  background-color: #015474;
}
.rightside_newsletter .rightside_newsletter_input input::-moz-placeholder {
  color: white;
}
.rightside_newsletter .rightside_newsletter_input input::placeholder {
  color: white;
}
.rightside_newsletter .rightside_newsletter_button {
  height: 30%;
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}
.rightside_newsletter .rightside_newsletter_button button {
  color: white;
  background-color: #00adef;
  border: none;
  font-size: 0.7vw;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 13%;
  padding-right: 13%;
}

.leftside_content_change {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.leftside_content_change .leftside_content_change_dugmad {
  height: 30px;
  display: flex;
  align-items: center;
}
.leftside_content_change .leftside_content_change_dugmad .leftside_content_change_button {
  border: none;
  margin-right: 1px;
  height: 100%;
  font-size: 0.6vw;
  padding-left: 2%;
  padding-right: 2%;
  color: white;
  background-color: #333333;
  cursor: pointer;
}
.leftside_content_change .leftside_content_change_dugmad #leftside_content_change_button1 {
  background-color: #00adef;
}
.leftside_content_change .leftside_content_change_p {
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
}
.leftside_content_change .leftside_content_change_p p {
  font-size: 0.75vw;
  font-weight: 100;
  color: gray;
  line-height: 130%;
  margin-left: 25px;
}
.leftside_content_change .leftside_content_change_p p:first-child {
  margin-right: 10%;
}

.proizvodi_flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 98%;
  margin: 0 auto;
  height: 350px;
}

.proizvod {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 22%;
  height: 100%;
}
.proizvod * {
  margin: 0;
}
.proizvod a {
  text-decoration: none;
  color: black;
}
.proizvod .proizvod_h4 {
  margin-top: 10px;
  font-size: 1vw;
}
.proizvod .proizvod_p1 {
  margin-top: 5px;
  margin-bottom: 5px;
  color: gray;
}
.proizvod .proizvod_p2 {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 1.3vw;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  color: #00adef;
  font-weight: 700;
}
.proizvod .proizvod_p2 span {
  color: gray;
  text-decoration: line-through;
  font-weight: 100;
}
.proizvod .proizvod_img {
  width: 100%;
}

.leftside_proizvodi_naslov {
  margin-top: 20px;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.leftside_proizvodi_naslov h4 {
  margin: 0;
  padding: 0;
  font-size: 0.85vw;
}
.leftside_proizvodi_naslov div {
  width: 85%;
  height: 0;
  border: 1px solid lightgray;
}

@media (orientation: portrait) {
  .mainflex {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    height: auto;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .leftside_naslovna {
    font-size: 5vw;
    height: 150px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .leftside_mainflex_part1 {
    flex-direction: column;
  }
  .leftside_mainflex_part1 .leftside_mainflex_part1_left {
    width: 100%;
  }
  .leftside_mainflex_part1 .leftside_mainflex_part1_left .leftside_mainflex_part1_footer {
    width: 95%;
    margin-top: 10px;
  }
  .leftside_mainflex_part1 .leftside_mainflex_part1_left .leftside_mainflex_part1_footer .footer_slide_item a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .leftside_mainflex_part1 .leftside_mainflex_part1_left .leftside_mainflex_part1_footer .footer_slide_item a img {
    height: 150px;
    width: 100%;
  }
  .leftside_mainflex_part1 .leftside_mainflex_part1_left .leftside_mainflex_part1_footer .slick-next:before {
    position: absolute;
    left: 31px;
    bottom: -48px;
    border: 1px solid lightgray;
    border-top: 41px solid #f2f2f2;
    border-bottom: 41px solid #f2f2f2;
    border-left: none;
  }
  .leftside_mainflex_part1 .leftside_mainflex_part1_left .leftside_mainflex_part1_footer .slick-prev:before {
    position: absolute;
    right: 10px;
    bottom: -48px;
    border: 1px solid lightgray;
    border-top: 41px solid #f2f2f2;
    border-bottom: 41px solid #f2f2f2;
  }
  .leftside_mainflex_part1 .leftside_mainflex_part1_right {
    width: 100%;
    margin-top: 10px;
  }
  .leftside_mainflex_part1 .leftside_mainflex_part1_right h1 {
    font-size: 5vw;
    width: 100%;
  }
  .leftside_mainflex_part1 .leftside_mainflex_part1_right .cijena_i_sifra {
    align-self: center;
    display: flex;
    font-size: 5vw;
  }
  .leftside_mainflex_part1 .leftside_mainflex_part1_right .cijena_i_sifra h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .leftside_mainflex_part1 .leftside_mainflex_part1_right .cijena_i_sifra h2:first-child {
    height: 90px;
    display: flex;
    align-items: center;
    color: #00adef;
    padding-right: 15px;
    border-right: 1px solid lightgray;
  }
  .leftside_mainflex_part1 .leftside_mainflex_part1_right .cijena_i_sifra h2:last-child {
    height: 90px;
    font-size: 50px;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    border-right: 1px solid lightgray;
  }
  .leftside_mainflex_part1 .leftside_mainflex_part1_right .cijena_i_sifra h2:last-child span:last-child {
    font-size: 30px;
  }
  .leftside_mainflex_part1 .leftside_mainflex_part1_right h5 {
    font-size: 4vw;
    margin-top: 10px;
    align-self: center;
  }
  .leftside_mainflex_part1 .leftside_mainflex_part1_right p {
    align-self: center;
    text-align: center;
    font-size: 3vw;
  }
  .leftside_mainflex_part1 .leftside_mainflex_part1_right .kolicina_i_share {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
  }
  .leftside_mainflex_part1 .leftside_mainflex_part1_right .kolicina_i_share p {
    padding-right: 7px;
    margin: 0;
    font-size: 4vw;
  }
  .leftside_mainflex_part1 .leftside_mainflex_part1_right .kolicina_i_share input {
    border: 1px solid lightgray;
    width: 12%;
  }
  .leftside_mainflex_part1 .leftside_mainflex_part1_right .kolicina_i_share input::-moz-placeholder {
    text-align: center;
  }
  .leftside_mainflex_part1 .leftside_mainflex_part1_right .kolicina_i_share input::placeholder {
    text-align: center;
  }
  .leftside_mainflex_part1 .leftside_mainflex_part1_right .kolicina_i_share #btnplus1 {
    margin-right: 2%;
  }
  .leftside_mainflex_part1 .leftside_mainflex_part1_right .kolicina_i_share #btnplus2 {
    margin-right: 2%;
  }
  .leftside_mainflex_part1 .leftside_mainflex_part1_right .kolicina_i_share img {
    height: 80%;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .leftside_mainflex_part1 .leftside_mainflex_part1_right .dodajukorpu_dugmad {
    align-self: center;
    margin-top: 20px;
    height: 100px;
    width: auto;
  }
  .leftside_mainflex_part1 .leftside_mainflex_part1_right .dodajukorpu_dugmad .btnkorpa {
    font-size: 3vw;
    height: 80%;
    padding: 10px 20px;
    margin: 4px 2px;
    border-radius: 30px;
  }
  .leftside_mainflex_part1 .leftside_mainflex_part1_right .dodajukorpu_dugmad #btnkorpa1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3%;
  }
  .leftside_mainflex_part1 .leftside_mainflex_part1_right .dodajukorpu_dugmad #btnkorpa1 img {
    width: 20%;
  }
  .leftside_mainflex_part1 .leftside_mainflex_part1_right .dodajukorpu_dugmad #btnkorpa2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .leftside_content_change .leftside_content_change_dugmad {
    height: 40px;
  }
  .leftside_content_change .leftside_content_change_dugmad .leftside_content_change_button {
    font-size: 2vw;
  }
  .leftside_content_change .leftside_content_change_p p {
    font-size: 1.7vw;
  }
  .leftside_proizvodi_naslov {
    height: 80px;
    margin-top: 20px;
  }
  .leftside_proizvodi_naslov h4 {
    font-size: 3.5vw;
  }
  .leftside_proizvodi_naslov div {
    width: 70%;
  }
  .proizvodi_flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98%;
    margin: 0 auto;
    height: auto;
  }
  .proizvod {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
  }
  .proizvod .proizvod_h4 {
    margin-top: 10px;
    font-size: 5vw !important;
    text-align: center;
  }
  .proizvod .proizvod_p1 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 4vw;
    text-align: center;
  }
  .proizvod .proizvod_p2 {
    width: 100%;
    text-align: center;
    font-size: 5vw !important;
  }
  .rightside_mainflex {
    width: 100%;
    height: auto;
  }
  .rightside_videi {
    display: flex;
  }
  .rightside_video1, .rightside_video2 {
    margin: 80px 40px;
    transform: scaleX(2);
    transform: scaleY(1.1);
    height: 400px;
  }
  #playpause1_img, #playpause2_img {
    height: 100%;
    width: 100%;
  }
  .rightside_newsletter {
    height: 400px;
    justify-content: center;
    align-items: center;
  }
  .rightside_newsletter .rightside_newsletter_naslov {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    font-size: 4vw;
  }
  .rightside_newsletter .rightside_newsletter_naslov img {
    width: 60px;
  }
  .rightside_newsletter .rightside_newsletter_input {
    width: 90%;
    height: 40%;
    display: flex;
  }
  .rightside_newsletter .rightside_newsletter_input input::-moz-placeholder {
    font-size: 4vw;
  }
  .rightside_newsletter .rightside_newsletter_input input::placeholder {
    font-size: 4vw;
  }
  .rightside_newsletter .rightside_newsletter_button {
    height: 25%;
    width: 90%;
    display: flex;
    justify-content: center;
  }
  .rightside_newsletter .rightside_newsletter_button button {
    font-size: 4vw;
    padding-top: 4%;
    padding-bottom: 4%;
  }
}/*# sourceMappingURL=open-product.css.map */