/* sass:scss */
.nav1 {
  background-color: #cccccc;
  display: flex;
  justify-content: center;
}

.nav1_itemi {
  margin: 0 auto;
  width: 65%;
  font-size: 0.9vw;
  height: 40px;
  display: flex;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  position: relative;
}
.nav1_itemi a {
  text-decoration: none;
  color: #226784;
  transform: scaleX(1.1);
  cursor: pointer;
}
.nav1_itemi a:hover {
  color: black;
  text-decoration: underline;
}
.nav1_itemi .nav1_item {
  display: flex;
  align-items: center;
  list-style: none;
  height: 100%;
  margin: 0 5px;
  padding: 0 5px;
}

.nav1_item:first-child {
  justify-self: flex-start;
  padding-left: 0;
}
.nav1_item:first-child a {
  color: black;
  text-decoration: underline;
}

.nav1_item:last-child {
  padding-right: 0;
}

.nav1_item:nth-child(2) {
  position: absolute;
  left: 6%;
}

.nav1_item:nth-child(3) {
  position: absolute;
  left: 16%;
  padding-right: 6%;
}

.nav1_item:nth-child(4) {
  position: absolute;
  right: 16%;
  padding-left: 6%;
}

.nav1_item:nth-child(5) {
  position: absolute;
  right: 6%;
  padding-left: 6%;
}

.nav2big {
  background-color: #005574;
  display: flex;
  justify-content: center;
}

.nav2 {
  width: 65%;
  margin: 0 auto;
  height: 100px;
  display: flex;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  position: relative;
}
.nav2 .centro {
  font-size: 3vw;
  color: white;
}
.nav2 #centroplava {
  color: #01adf0;
}
.nav2 .searchdiv {
  margin-left: 10%;
  width: 50%;
  display: flex;
  align-items: center;
  position: absolute;
  left: 33%;
}
.nav2 .searchdiv #searchform {
  border: none;
  padding: 2%;
  width: 70%;
}
.nav2 .searchdiv #searchform::-moz-placeholder {
  font-size: 0.8vw;
}
.nav2 .searchdiv #searchform::placeholder {
  font-size: 0.8vw;
}
.nav2 .searchdiv #lupaicon {
  width: 6%;
  height: 80%;
  position: absolute;
  right: 27%;
}
.nav2 .searchdiv #fbicon {
  width: 7.5%;
  max-height: 100%;
  padding-left: 10px;
}
.nav2 .korpadiv {
  display: flex;
  justify-items: flex-end;
  align-items: center;
  width: 15%;
  height: 40px;
  font-size: 0.8vw;
  position: relative;
}
.nav2 .korpadiv a {
  padding-right: 10px;
  color: #3cadef;
}
.nav2 .korpadiv span {
  color: white;
}
.nav2 .korpadiv #korpaicon {
  max-height: 100%;
  width: 24%;
  position: absolute;
  right: 0;
}

.nav3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
  font-weight: 600;
}

.nav3_itemi {
  background-color: #3cadef;
  margin: 0 auto;
  width: 65%;
  font-size: 0.9em;
  height: 55px;
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: relative;
}
.nav3_itemi #homeicon {
  background-color: #42cbff;
  border-top: 2px solid white;
}
.nav3_itemi #ahome {
  width: 50px;
  height: 53px;
}
.nav3_itemi a {
  text-decoration: none;
  color: white;
}
.nav3_itemi a:hover {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}
.nav3_itemi .nav3_item {
  border-right: 1px solid #3499d2;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  height: 100%;
  padding: 0;
  width: 10%;
}

.nav3_item:nth-child(2) {
  border: none;
  width: auto;
}

.nav3_item:nth-child(11) {
  width: 15%;
}
.nav3_item:nth-child(11) a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav3_item:nth-child(11) #nav3lastblue {
  color: #185574;
  font-weight: 100;
}

.right_trap {
  position: absolute;
  right: -90px;
  border-top: 55px solid #3cadef;
  border-right: 25px solid transparent;
  height: 0;
  width: 80px;
  z-index: -1;
}

.left_trap {
  position: absolute;
  left: -80px;
  border-top: 55px solid #3cadef;
  border-left: 25px solid transparent;
  height: 0;
  width: 80px;
  z-index: -1;
}

@media (orientation: portrait) {
  .nav1 {
    background-color: #cccccc;
    display: flex;
    justify-content: center;
  }
  .nav1_itemi {
    font-size: 2vw;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    align-items: center;
  }
  .nav1_itemi .nav1_item {
    display: flex;
    align-items: center;
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .nav1_item:first-child {
    justify-self: center;
  }
  .nav1_item:first-child a {
    color: black;
    text-decoration: underline;
  }
  .nav1_item:nth-child(2) {
    position: static;
    left: 0;
  }
  .nav1_item:nth-child(3) {
    position: static;
    left: 0;
    padding-right: 0;
  }
  .nav1_item:nth-child(4) {
    position: static;
    right: 0;
    padding-left: 0;
  }
  .nav1_item:nth-child(5) {
    position: static;
    right: 0;
    padding-left: 0;
  }
  .nav2big {
    background-color: #005574;
    display: flex;
    justify-content: center;
  }
  .nav2 {
    width: 65%;
    margin: 0 auto;
    height: 200px;
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .nav2 .centro {
    margin: 0 auto;
    padding: 0;
    font-size: 5vw;
  }
  .nav2 .searchdiv {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0;
  }
  .nav2 .searchdiv #searchform {
    border: none;
    padding: 12px;
    width: 70%;
  }
  .nav2 .searchdiv #searchform::-moz-placeholder {
    font-size: 1.8vw;
  }
  .nav2 .searchdiv #searchform::placeholder {
    font-size: 1.8vw;
  }
  .nav2 .searchdiv #lupaicon {
    width: 30px;
    height: 80%;
    position: absolute;
    right: 20%;
  }
  .nav2 .korpadiv {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 30%;
    height: 40px;
    font-size: 0.9em;
    position: static;
  }
  .nav2 .korpadiv a {
    padding-right: 5px;
  }
  .nav2 .korpadiv #korpaicon {
    padding-left: 5px;
    max-height: 100%;
    width: 42px;
    position: static;
  }
  .nav3_itemi {
    width: 100%;
    height: 500px;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: relative;
  }
  .nav3_itemi .nav3_item {
    font-size: 4vw;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    height: 100%;
    padding: 0;
    width: 70%;
  }
  .nav3_item:nth-child(11) {
    width: auto;
  }
  .nav3_item:nth-child(11) a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav3_item:nth-child(11) #nav3lastblue {
    color: #185574;
    font-weight: 100;
  }
  .right_trap {
    display: none;
  }
  .left_trap {
    display: none;
  }
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  /*position: absolute;
  bottom: 0;*/
  width: 100%;
  height: 350px;
  background: linear-gradient(to bottom, white 40%, #3cadef 40% 90%, #185574 90%);
  background-color: #3cadef;
  border-top: 1px solid lightgray;
}

.topfooter {
  height: 40%;
  width: 65%;
  margin: 0 auto;
  padding-top: 45px;
}
.topfooter .footer_slide_item a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.topfooter .footer_slide_item a img {
  height: 50px;
  width: 80%;
}

.slick-arrow {
  height: 56px !important;
  width: 56px !important;
}

.slick-prev.slick-arrow::before {
  margin-right: 20px;
  height: 56px !important;
}

.slick-next:before {
  content: url("https://lh3.googleusercontent.com/u/0/drive-viewer/AAOQEOTOK1EpsxG3I2Nc2tN-jrVDMUFVK0DNS0YAnBcOThWzqr8fat70pWSMD_e8-qB6NIdHOsZqhoibvK9Q2oqkPwVH2o4NgA=w3584-h1904") !important;
  position: absolute;
  left: 40px;
  bottom: -3px;
}

.slick-prev:before {
  content: url("https://lh3.googleusercontent.com/u/0/drive-viewer/AAOQEOTHinbAHqr5YFQtN1yVdHJfRs_MTEoeivanxjw9hZ6_lG52PzaD1odo6sD-D84sJ-s8XA0l_4V5TYeqWkbFrFa1buE=w3584-h1904") !important;
  position: absolute;
  right: 20px;
  bottom: -3px;
}

.slick-next:before, .slick-prev:before {
  font-family: slick;
  color: lightgray !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.midfooter {
  margin: 0 auto;
  width: 65%;
  font-size: 1vw;
  height: 50%;
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: relative;
}
.midfooter a {
  text-decoration: none;
  color: white;
}
.midfooter a:hover {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}
.midfooter .midfooter_item {
  border-right: 1px solid #3499d2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  list-style: none;
  height: 100%;
  padding: 0;
  width: 20%;
}
.midfooter .midfooter_item h3 {
  padding-left: 10%;
  color: white;
}
.midfooter .midfooter_item ul {
  height: 50%;
  padding: 0;
  padding-left: 10%;
}
.midfooter .midfooter_item ul li {
  list-style: none;
}
.midfooter .midfooter_item ul li a {
  color: #68cbf9;
}

.midfooter_item:first-child {
  border-left: 1px solid #3499d2;
}

.midfooter_item:last-child ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.botfooter {
  color: white;
  font-size: 0.8vw;
  font-weight: 100;
  width: 65%;
  height: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.botfooter a {
  color: #68cbf9;
  text-decoration: underline;
}

@media (orientation: portrait) {
  footer {
    width: 100%;
    height: 600px;
    background: linear-gradient(to bottom, white 22%, #3cadef 22% 90%, #185574 90%);
    background-color: #3cadef;
    border-top: 1px solid lightgray;
  }
  .topfooter {
    height: 22%;
    width: 65%;
    margin: 0 auto;
    padding-top: 45px;
  }
  .topfooter .footer_slide_item a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .topfooter .footer_slide_item a img {
    height: 50px;
    width: 80%;
  }
  .slick-arrow {
    height: 56px !important;
    width: 56px !important;
  }
  .slick-prev.slick-arrow::before {
    margin-right: 20px;
    height: 56px !important;
  }
  .slick-next:before {
    content: url("https://lh3.googleusercontent.com/u/0/drive-viewer/AAOQEOTOK1EpsxG3I2Nc2tN-jrVDMUFVK0DNS0YAnBcOThWzqr8fat70pWSMD_e8-qB6NIdHOsZqhoibvK9Q2oqkPwVH2o4NgA=w3584-h1904") !important;
    position: absolute;
    left: 40px;
    bottom: -3px;
  }
  .slick-prev:before {
    content: url("https://lh3.googleusercontent.com/u/0/drive-viewer/AAOQEOTHinbAHqr5YFQtN1yVdHJfRs_MTEoeivanxjw9hZ6_lG52PzaD1odo6sD-D84sJ-s8XA0l_4V5TYeqWkbFrFa1buE=w3584-h1904") !important;
    position: absolute;
    right: 20px;
    bottom: -3px;
  }
  .slick-next:before, .slick-prev:before {
    font-family: slick;
    color: lightgray !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .midfooter {
    margin: 0 auto;
    width: 100%;
    font-size: 2.5vw;
    height: 68%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 0px;
    position: relative;
  }
  .midfooter .midfooter_item {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    list-style: none;
    height: 100%;
    padding: 0;
    width: 100%;
  }
  .midfooter_item:first-child {
    border-left: none;
  }
  .botfooter {
    font-size: 3vw;
    font-weight: 100;
    width: 65%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: "Arial Narrow";
  font-weight: 100;
}

.mainflex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 65%;
  margin: 0 auto;
  height: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.leftside_mainflex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 22%;
}

.leftside_nav {
  width: 100%;
  height: 600px;
}
.leftside_nav .leftside_nav_list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.leftside_nav .leftside_nav_list .leftside_nav_listitem {
  background-color: #f4f4f4;
  font-weight: 600;
  letter-spacing: 0.5px;
  list-style: none;
  width: 85%;
  font-size: 0.9vw;
  padding-left: 10%;
  padding-right: 5%;
  padding-top: 4%;
  padding-bottom: 4%;
  border-bottom: 1px solid lightgray;
}
.leftside_nav .leftside_nav_list .leftside_nav_listitem:nth-child(2), .leftside_nav .leftside_nav_list .leftside_nav_listitem:nth-child(3), .leftside_nav .leftside_nav_list .leftside_nav_listitem:nth-child(5), .leftside_nav .leftside_nav_list .leftside_nav_listitem:nth-child(6), .leftside_nav .leftside_nav_list .leftside_nav_listitem:nth-child(7), .leftside_nav .leftside_nav_list .leftside_nav_listitem:nth-child(8) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.leftside_nav .leftside_nav_list .leftside_nav_listitem:nth-child(2) button, .leftside_nav .leftside_nav_list .leftside_nav_listitem:nth-child(3) button, .leftside_nav .leftside_nav_list .leftside_nav_listitem:nth-child(5) button, .leftside_nav .leftside_nav_list .leftside_nav_listitem:nth-child(6) button, .leftside_nav .leftside_nav_list .leftside_nav_listitem:nth-child(7) button, .leftside_nav .leftside_nav_list .leftside_nav_listitem:nth-child(8) button {
  border: none;
  padding: 0;
  margin: 0;
  width: 25px;
  height: 25px;
}
.leftside_nav .leftside_nav_list .leftside_nav_listitem:nth-child(2) button img, .leftside_nav .leftside_nav_list .leftside_nav_listitem:nth-child(3) button img, .leftside_nav .leftside_nav_list .leftside_nav_listitem:nth-child(5) button img, .leftside_nav .leftside_nav_list .leftside_nav_listitem:nth-child(6) button img, .leftside_nav .leftside_nav_list .leftside_nav_listitem:nth-child(7) button img, .leftside_nav .leftside_nav_list .leftside_nav_listitem:nth-child(8) button img {
  width: 100%;
  height: 100%;
}
.leftside_nav .leftside_nav_list .leftside_nav_listitem:first-child {
  background-color: #015574;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.leftside_nav .leftside_nav_list .leftside_nav_listitem:first-child img {
  width: 20px;
  margin-left: -5px;
  margin-right: 5px;
}

.leftside_search {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 100px;
  width: 100%;
  background-color: #015474;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.leftside_search .leftside_search_naslov {
  font-size: 0.8vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50%;
  width: 100%;
  color: white;
}
.leftside_search .leftside_search_naslov img {
  padding: 0;
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  width: 20px;
}
.leftside_search .leftside_search_forma {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  bottom: 5%;
}
.leftside_search .leftside_search_forma input {
  padding: 10px;
  width: 80%;
}
.leftside_search .leftside_search_forma input::-moz-placeholder {
  font-size: 0.9vw;
}
.leftside_search .leftside_search_forma input::placeholder {
  font-size: 0.9vw;
}
.leftside_search .leftside_search_forma img {
  width: 10%;
  position: absolute;
  right: 20px;
}

.leftside_img {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.leftside_img img {
  width: 100%;
}

.leftside_newsletter {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 220px;
  width: 100%;
  background-color: #015474;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.leftside_newsletter .leftside_newsletter_naslov {
  font-size: 0.8vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 25%;
  width: 100%;
  color: white;
}
.leftside_newsletter .leftside_newsletter_naslov img {
  padding: 0;
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  width: 20px;
}
.leftside_newsletter .leftside_newsletter_input {
  width: 90%;
  height: 30%;
  display: flex;
}
.leftside_newsletter .leftside_newsletter_input input {
  color: white;
  padding: 5px;
  padding-left: 0;
  height: 50%;
  width: 100%;
  border: none;
  border-bottom: 1px solid #00adef;
  background-color: #015474;
}
.leftside_newsletter .leftside_newsletter_input input::-moz-placeholder {
  color: white;
}
.leftside_newsletter .leftside_newsletter_input input::placeholder {
  color: white;
}
.leftside_newsletter .leftside_newsletter_button {
  height: 30%;
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}
.leftside_newsletter .leftside_newsletter_button button {
  color: white;
  background-color: #00adef;
  border: none;
  font-size: 0.7vw;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 13%;
  padding-right: 13%;
}

.leftside_container {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
}
.leftside_container img {
  width: 100%;
}
.leftside_container p {
  color: gray;
}
.leftside_container button {
  color: white;
  background-color: #00adef;
  border: none;
  font-size: 0.7vw;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 13%;
  padding-right: 13%;
}

.rightside_mainflex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 75%;
}

.rightside_slider {
  width: 100%;
  height: 350px;
  overflow: hidden;
}
.rightside_slider .rightside_slides {
  width: 500%;
  height: 350px;
  display: flex;
  position: relative;
}
.rightside_slider .rightside_slides input {
  display: none;
}
.rightside_slider .rightside_slides .slide {
  width: 20%;
  transition: 2s;
}
.rightside_slider .rightside_slides img {
  height: 350px;
  width: 100%;
}
.rightside_slider .rightside_slides .navigation-manual {
  position: absolute;
  bottom: 15px;
  left: 16%;
  width: 4%;
  display: flex;
  justify-content: center;
}
.rightside_slider .rightside_slides .manual-btn {
  color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s;
  width: 10px;
  height: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rightside_slider .rightside_slides .manual-btn:not(:last-child) {
  margin-right: 5px;
}
.rightside_slider .rightside_slides .manual-btn:hover {
  background-color: #00adef;
}
.rightside_slider .rightside_slides #slide-radio-1:checked ~ .first {
  margin-left: 0;
}
.rightside_slider .rightside_slides #slide-radio-2:checked ~ .first {
  margin-left: -20%;
}
.rightside_slider .rightside_slides #slide-radio-3:checked ~ .first {
  margin-left: -40%;
}
.rightside_slider .rightside_slides #slide-radio-4:checked ~ .first {
  margin-left: -60%;
}
.rightside_slider .rightside_slides .navigation-auto {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 460px;
}
.rightside_slider .rightside_slides .naigation-auto div {
  border: 2px solid #00adef;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}
.rightside_slider .rightside_slides .naigation-auto div:not(:last-child) {
  margin-right: 20px;
}
.rightside_slider .rightside_slides #slide-radio-1:checked ~ .navigation-manual #btn1 {
  background-color: #00adef;
}
.rightside_slider .rightside_slides #slide-radio-2:checked ~ .navigation-manual #btn2 {
  background-color: #00adef;
}
.rightside_slider .rightside_slides #slide-radio-3:checked ~ .navigation-manual #btn3 {
  background-color: #00adef;
}
.rightside_slider .rightside_slides #slide-radio-4:checked ~ .navigation-manual #btn4 {
  background-color: #00adef;
}

.slider_opis {
  background-color: white;
  height: 11vw;
  position: absolute;
  bottom: 25px;
  left: 0.5%;
  width: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 1.7vw;
}
.slider_opis h2 {
  margin: 0;
  margin-left: 10%;
}
.slider_opis h2:first-child {
  margin-top: 5%;
  font-weight: 100;
}
.slider_opis div {
  margin: 0;
  margin-left: 10%;
  margin-top: 3%;
  margin-bottom: 10%;
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.slider_opis div button {
  color: white;
  background-color: #00adef;
  border: none;
  font-size: 0.7vw;
  padding-top: 6%;
  padding-bottom: 6%;
  padding-left: 13%;
  padding-right: 13%;
}

.mainflex_proizvodi {
  margin-top: 20px;
  height: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.mainflex_proizvodi #mainflex_proizvodi_naslov1 {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #015574;
  position: relative;
}
.mainflex_proizvodi #mainflex_proizvodi_naslov1 .bijeli_left {
  position: absolute;
  left: 0px;
  border-top: 50px solid #185574;
  border-left: 25px solid white;
  height: 0;
  width: 80px;
}
.mainflex_proizvodi #mainflex_proizvodi_naslov1 .bijeli_right {
  position: absolute;
  right: 0px;
  border-top: 50px solid #185574;
  border-right: 25px solid white;
  height: 0;
  width: 80px;
}
.mainflex_proizvodi #mainflex_proizvodi_naslov1 img {
  width: 40px;
}
.mainflex_proizvodi #mainflex_proizvodi_naslov1 h4 {
  font-size: 20px;
  margin-left: 10px;
  color: white;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainflex_proizvodi #mainflex_proizvodi_naslov2 {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00adef;
  position: relative;
}
.mainflex_proizvodi #mainflex_proizvodi_naslov2 .bijeli_left {
  position: absolute;
  left: 0px;
  border-top: 50px solid #00adef;
  border-left: 25px solid white;
  height: 0;
  width: 80px;
}
.mainflex_proizvodi #mainflex_proizvodi_naslov2 .bijeli_right {
  position: absolute;
  right: 0px;
  border-top: 50px solid #00adef;
  border-right: 25px solid white;
  height: 0;
  width: 80px;
}
.mainflex_proizvodi #mainflex_proizvodi_naslov2 img {
  width: 40px;
}
.mainflex_proizvodi #mainflex_proizvodi_naslov2 h4 {
  font-size: 20px;
  margin-left: 10px;
  color: white;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainflex_proizvodi #mainflex_proizvodi_naslov3 {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00adef;
  position: relative;
}
.mainflex_proizvodi #mainflex_proizvodi_naslov3 .bijeli_left {
  position: absolute;
  left: 0px;
  border-top: 50px solid #00adef;
  border-left: 25px solid white;
  height: 0;
  width: 80px;
}
.mainflex_proizvodi #mainflex_proizvodi_naslov3 .bijeli_right {
  position: absolute;
  right: 0px;
  border-top: 50px solid #00adef;
  border-right: 25px solid white;
  height: 0;
  width: 80px;
}
.mainflex_proizvodi #mainflex_proizvodi_naslov3 img {
  width: 40px;
}
.mainflex_proizvodi #mainflex_proizvodi_naslov3 h4 {
  font-size: 20px;
  margin-left: 10px;
  color: white;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainflex_proizvodi #mainflex_proizvodi_naslov4 {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00adef;
  position: relative;
}
.mainflex_proizvodi #mainflex_proizvodi_naslov4 .bijeli_left {
  position: absolute;
  left: 0px;
  border-top: 50px solid #00adef;
  border-left: 25px solid white;
  height: 0;
  width: 80px;
}
.mainflex_proizvodi #mainflex_proizvodi_naslov4 .bijeli_right {
  position: absolute;
  right: 0px;
  border-top: 50px solid #00adef;
  border-right: 25px solid white;
  height: 0;
  width: 80px;
}
.mainflex_proizvodi #mainflex_proizvodi_naslov4 img {
  width: 40px;
}
.mainflex_proizvodi #mainflex_proizvodi_naslov4 h4 {
  font-size: 20px;
  margin-left: 10px;
  color: white;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainflex_proizvodi #mainflex_proizvodi_naslov5 {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e89c04;
  position: relative;
}
.mainflex_proizvodi #mainflex_proizvodi_naslov5 .bijeli_left {
  position: absolute;
  left: 0px;
  border-top: 50px solid #e89c04;
  border-left: 25px solid white;
  height: 0;
  width: 80px;
}
.mainflex_proizvodi #mainflex_proizvodi_naslov5 .bijeli_right {
  position: absolute;
  right: 0px;
  border-top: 50px solid #e89c04;
  border-right: 25px solid white;
  height: 0;
  width: 80px;
}
.mainflex_proizvodi #mainflex_proizvodi_naslov5 img {
  width: 40px;
}
.mainflex_proizvodi #mainflex_proizvodi_naslov5 h4 {
  font-size: 20px;
  margin-left: 10px;
  color: white;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.proizvodi_flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  height: 350px;
}

.proizvod {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 22%;
  height: 100%;
}
.proizvod * {
  margin: 0;
}
.proizvod .proizvod_h4 {
  margin-top: 10px;
  font-size: 1vw;
}
.proizvod .proizvod_p1 {
  margin-top: 5px;
  margin-bottom: 5px;
  color: gray;
}
.proizvod .proizvod_p2 {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 1.3vw;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  color: #00adef;
  font-weight: 700;
}
.proizvod .proizvod_p2 span {
  color: gray;
  text-decoration: line-through;
  font-weight: 100;
}
.proizvod .proizvod_img {
  width: 100%;
}

.mainflex_proizvodi_dugme {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
}
.mainflex_proizvodi_dugme button {
  color: #185574;
  font-weight: 700;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  border: 2px solid #00adef;
  background-color: white;
}
.mainflex_proizvodi_dugme button:hover {
  background-color: #00adef;
  color: white;
  cursor: pointer;
}

#mainflex_proizvodi_dugme_orange {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
}
#mainflex_proizvodi_dugme_orange button {
  color: #185574;
  font-weight: 700;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  border: 2px solid #e89c04;
  background-color: white;
}
#mainflex_proizvodi_dugme_orange button:hover {
  background-color: #e89c04;
  color: white;
  cursor: pointer;
}

#mainflex_proizvod2 {
  margin-top: 20px;
  height: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#mainflex_proizvod2 #mainflex_proizvodi_naslov2 {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00adef;
  position: relative;
}
#mainflex_proizvod2 #mainflex_proizvodi_naslov2 .bijeli_left {
  position: absolute;
  left: 0px;
  border-top: 50px solid #00adef;
  border-left: 25px solid white;
  height: 0;
  width: 80px;
}
#mainflex_proizvod2 #mainflex_proizvodi_naslov2 .bijeli_right {
  position: absolute;
  right: 0px;
  border-top: 50px solid #00adef;
  border-right: 25px solid white;
  height: 0;
  width: 80px;
}
#mainflex_proizvod2 #mainflex_proizvodi_naslov2 img {
  width: 40px;
}
#mainflex_proizvod2 #mainflex_proizvodi_naslov2 h4 {
  font-size: 20px;
  margin-left: 10px;
  color: white;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (orientation: portrait) {
  .mainflex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    height: auto;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .leftside_mainflex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .leftside_nav {
    width: 100%;
    height: auto;
  }
  .leftside_nav .leftside_nav_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .leftside_nav .leftside_nav_list .leftside_nav_listitem {
    font-size: 3vw;
    padding-left: 10%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .leftside_nav .leftside_nav_list .leftside_nav_listitem:nth-child(2), .leftside_nav .leftside_nav_list .leftside_nav_listitem:nth-child(3), .leftside_nav .leftside_nav_list .leftside_nav_listitem:nth-child(5), .leftside_nav .leftside_nav_list .leftside_nav_listitem:nth-child(6), .leftside_nav .leftside_nav_list .leftside_nav_listitem:nth-child(7), .leftside_nav .leftside_nav_list .leftside_nav_listitem:nth-child(8) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .leftside_nav .leftside_nav_list .leftside_nav_listitem:first-child {
    justify-content: center;
  }
  .leftside_search {
    margin-top: 20px;
    margin-bottom: 10px;
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .leftside_search .leftside_search_naslov {
    font-size: 4vw;
    display: flex;
    justify-content: center;
  }
  .leftside_search .leftside_search_naslov img {
    width: 50px;
  }
  .leftside_search .leftside_search_forma {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 5%;
  }
  .leftside_search .leftside_search_forma input {
    padding: 10px;
    width: 80%;
  }
  .leftside_search .leftside_search_forma img {
    width: 25px;
    position: absolute;
    right: 10%;
  }
  .leftside_img {
    display: none;
  }
  .leftside_newsletter {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .leftside_newsletter .leftside_newsletter_naslov {
    font-size: 4vw;
    display: flex;
    justify-content: center;
    height: 30%;
    width: 100%;
  }
  .leftside_newsletter .leftside_newsletter_naslov img {
    width: 50px;
  }
  .leftside_newsletter .leftside_newsletter_input {
    width: 65%;
    height: 25%;
  }
  .leftside_newsletter .leftside_newsletter_button {
    height: 20%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .leftside_newsletter .leftside_newsletter_button button {
    color: white;
    background-color: #00adef;
    border: none;
    font-size: 2.5vw;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 7%;
    padding-right: 7%;
  }
  .leftside_containeri {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .leftside_container {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 40%;
  }
  .leftside_container button {
    font-size: 1.8vw;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 13%;
    padding-right: 13%;
  }
  .rightside_mainflex {
    justify-content: center;
    width: 100%;
  }
  .slider_opis {
    height: 15vw;
    display: flex;
    font-size: 2vw;
  }
  .slider_opis div button {
    font-size: 1.3vw;
  }
}
/* endinject *//*# sourceMappingURL=main.css.map */