<div class="mainflex-home">
  <div class="leftside_mainflex-home">
    <div class="leftside_nav-home">
      <ul class="leftside_nav_list">
        <li class="leftside_nav_listitem leftside_nav_listheader"><img ng-src="{{vm.mainlistlefticonsData[0].url}}"/>Kupuj po kategoriji</li>
        <li ng-repeat="listitem in vm.mainlistleftData" class="leftside_nav_listitem">
          <div><a>{{listitem.naziv}}</a>
          <button ng-if="listitem.children" class="buttonexpand" ng-click="listitem.expanded = !listitem.expanded">
            <img ng-if="!listitem.expanded" ng-src="{{vm.mainlistlefticonsData[1].url}}">
            <img ng-if="listitem.expanded" ng-src="{{vm.mainlistlefticonsData[2].url}}">
          </button></div>
          <ul ng-if="listitem.children && listitem.expanded" class="leftside_nav_sublist">
            <li ng-repeat="child in listitem.children" class="leftside_nav_listitem" ng-include="'recursiveTemplate.html'"></li>
          </ul>
        </li>
      </ul>
    </div>
    <script type="text/ng-template" id="recursiveTemplate.html">
      <div><a>{{child.naziv}}</a>
        <button ng-if="child.children" class="buttonexpand" ng-click="child.expanded = !child.expanded">
          <img ng-if="!child.expanded" ng-src="{{vm.mainlistlefticonsData[1].url}}">
          <img ng-if="child.expanded" ng-src="{{vm.mainlistlefticonsData[2].url}}">
        </button></div>
      <ul ng-if="child.children && child.expanded" class="leftside_nav_sublist">
        <li ng-repeat="child in child.children" ng-include="'recursiveTemplate.html'"></li>
      </ul>
    </script>
    <div class="leftside_search-home">
      <div class="leftside_search_naslov">
        <img src="src/assets/images/home/leftside/search/email-square.png"/>
        <h3>PRETRAGA PO BRENDU</h3>
      </div>
      <div class="leftside_search_forma">
        <input type="text" placeholder="Unesite naziv brenda"/>
        <img src="src/assets/images/header/lupaico.png"/>
      </div>
    </div>
    <div class="leftside_img-home">
      <img ng-src="{{vm.reklamemainData[0].url}}"/>
    </div>
    <div class="leftside_newsletter-home">
      <div class="leftside_newsletter_naslov">
        <img src="src/assets/images/home/leftside/search/email-square.png"/>
        <h3>PRIJAVI SE NA NEWSLETTER</h3>
      </div>
      <div class="leftside_newsletter_input">
        <input type="text" placeholder="E mail"/>
      </div>
      <div class="leftside_newsletter_input">
        <input type="text" placeholder="Ime i prezime"/>
      </div>
      <div class="leftside_newsletter_button">
        <button>PRIJAVI SE</button>
      </div>
    </div>
    <div class="leftside_containeri-home">
      <div ng-repeat="artikl in vm.reklamemainData[1].artikli" class="leftside_container-home">
        <img ng-src="{{artikl.url}}">
        <h3>{{artikl.h3}}</h3>
        <p>{{artikl.p}}</p>
        <button>{{artikl.b}}</button>
      </div>
    </div>
    <div class="leftside_img-home" id="testreklama">
      <img ng-src="{{vm.reklamemainData[2].url}}"/>
    </div>

  </div>
  <div class="rightside_mainflex-home">
    <div class="rightside_slider-home">
      <div class="rightside_slides">
        <input type="radio" name="slide-radio-btn" id="slide-radio-1">
        <input type="radio" name="slide-radio-btn" id="slide-radio-2">
        <input type="radio" name="slide-radio-btn" id="slide-radio-3">
        <input type="radio" name="slide-radio-btn" id="slide-radio-4">

        <div ng-repeat="testera in vm.testereData" class="slide" ng-class="{'first':$first}">
          <img ng-src="{{testera.url}}">
        </div>

        <div class="navigation-auto">
          <div class="auto-btn1"></div>
          <div class="auto-btn2"></div>
          <div class="auto-btn3"></div>
          <div class="auto-btn4"></div>
        </div>

        <div class="navigation-manual">
          <label for="slide-radio-1" class="manual-btn" id="btn1" ng-click="vm.counter = 1">1</label>
          <label for="slide-radio-2" class="manual-btn" id="btn2" ng-click="vm.counter = 2">2</label>
          <label for="slide-radio-3" class="manual-btn" id="btn3" ng-click="vm.counter = 3">3</label>
          <label for="slide-radio-4" class="manual-btn" id="btn4" ng-click="vm.counter = 4">4</label>
        </div>

        <div class="slider_opis-home">
          <h2>Motorna</h2>
          <h2 id="sega_h2">Šega</h2>
          <div>
            <button>VIDI PROIZVOD</button>
          </div>
        </div>
      </div>
    </div>

    <div class="mainflex_proizvodi-home" id="mainflex_proizvod1">
      <div id="mainflex_proizvodi_naslov1">
        <div class="bijeli_left"></div>
        <img src="src/assets/images/home/rightside/vruca-icon.png"/>
        <h4>VRUĆA PONUDA</h4>
        <div class="bijeli_right"></div>
      </div>
      <div class="proizvodi_flex-home" ng-if="!vm.aktiviranoVruci">
        <div class="proizvod-home" ng-repeat="proizvod in vm.vruciproizvodiDataFirstFour">
          <img class="proizvod_img" ng-src="{{proizvod.url}}"/>
          <h4 class="proizvod_h4"><a href ng-click="vm.goToProduct('_' + proizvod.id)">{{proizvod.naziv}}</a></h4>
          <p class="proizvod_p1">{{proizvod.vrijeme}}</p>
          <p class="proizvod_p2"><span>{{proizvod.cijena1}}</span> {{proizvod.cijena2}}</p>
        </div>
      </div>
      <div class="proizvodi_flex-home" ng-if="vm.aktiviranoVruci" ng-repeat="proizvodi in vm.vruciproizvodiDataChunked">
        <div class="proizvod-home" ng-repeat="proizvod in proizvodi">
          <img class="proizvod_img" ng-src="{{proizvod.url}}"/>
          <h4 class="proizvod_h4"><a href ng-click="vm.goToProduct('_' + proizvod.id)">{{proizvod.naziv}}</a></h4>
          <p class="proizvod_p1">{{proizvod.vrijeme}}</p>
          <p class="proizvod_p2"><span>{{proizvod.cijena1}}</span> {{proizvod.cijena2}}</p>
        </div>
      </div>
      <div class="mainflex_proizvodi_dugme-home">
        <button ng-click="vm.aktiviranoVruci=true" ng-show="vm.vruciMoreThanFour">POGLEDAJTE SVE PROIZVODE IZ VRUĆE PONUDE</button>
      </div>
    </div>

    <div id="mainflex_proizvod2-home">
      <div id="mainflex_proizvodi_naslov2">
        <div class="bijeli_left"></div>
        <img src="src/assets/images/home/rightside/akcija-icon.png"/>
        <h4>AKCIJA - POPUSTI</h4>
        <div class="bijeli_right"></div>
      </div>
      <div class="proizvodi_flex-home" ng-if="!vm.aktiviranoAkcija">
        <div class="proizvod-home" ng-repeat="proizvod in vm.akcijaproizvodiDataFirstFour">
          <img class="proizvod_img" ng-src="{{proizvod.url}}"/>
          <h4 class="proizvod_h4"><a href ng-click="vm.goToProduct('_' + proizvod.id)">{{proizvod.naziv}}</a></h4>
          <p class="proizvod_p1">{{proizvod.vrijeme}}</p>
          <p class="proizvod_p2"><span>{{proizvod.cijena1}}</span> {{proizvod.cijena2}}</p>
        </div>
      </div>
      <div class="proizvodi_flex-home" ng-if="vm.aktiviranoAkcija" ng-repeat="proizvodi in vm.akcijaproizvodiDataChunked">
        <div class="proizvod-home" ng-repeat="proizvod in proizvodi">
          <img class="proizvod_img" ng-src="{{proizvod.url}}"/>
          <h4 class="proizvod_h4"><a href ng-click="vm.goToProduct('_' + proizvod.id)">{{proizvod.naziv}}</a></h4>
          <p class="proizvod_p1">{{proizvod.vrijeme}}</p>
          <p class="proizvod_p2"><span>{{proizvod.cijena1}}</span> {{proizvod.cijena2}}</p>
        </div>
      </div>
      <div class="mainflex_proizvodi_dugme-home">
        <button ng-click="vm.aktiviranoAkcija=true" ng-show="vm.akcijaMoreThanFour">POGLEDAJTE SVE PROIZVODE IZ VRUĆE PONUDE</button>
      </div>
    </div>

    <div class="mainflex_proizvodi-home" id="mainflex_proizvod3">
      <div id="mainflex_proizvodi_naslov3">
        <div class="bijeli_left"></div>
        <img src="src/assets/images/home/rightside/preporucujemo-icon.png"/>
        <h4>PREPORUČUJEMO</h4>
        <div class="bijeli_right"></div>
      </div>
      <div class="proizvodi_flex-home" ng-if="!vm.aktiviranoPreporucujemo">
        <div class="proizvod-home" ng-repeat="proizvod in vm.preporucujemoproizvodiDataFirstFour">
          <img class="proizvod_img" ng-src="{{proizvod.url}}"/>
          <h4 class="proizvod_h4"><a href ng-click="vm.goToProduct('_' + proizvod.id)">{{proizvod.naziv}}</a></h4>
          <p class="proizvod_p1">{{proizvod.vrijeme}}</p>
          <p class="proizvod_p2"><span>{{proizvod.cijena1}}</span> {{proizvod.cijena2}}</p>
        </div>
      </div>
      <div class="proizvodi_flex-home" ng-if="vm.aktiviranoPreporucujemo" ng-repeat="proizvodi in vm.preporucujemoproizvodiDataChunked">
        <div class="proizvod-home" ng-repeat="proizvod in proizvodi">
          <img class="proizvod_img" ng-src="{{proizvod.url}}"/>
          <h4 class="proizvod_h4"><a href ng-click="vm.goToProduct('_' + proizvod.id)">{{proizvod.naziv}}</a></h4>
          <p class="proizvod_p1">{{proizvod.vrijeme}}</p>
          <p class="proizvod_p2"><span>{{proizvod.cijena1}}</span> {{proizvod.cijena2}}</p>
        </div>
      </div>
      <div class="mainflex_proizvodi_dugme-home">
        <button ng-click="vm.aktiviranoPreporucujemo=true" ng-show="vm.preporucujemoMoreThanFour">POGLEDAJTE SVE PROIZVODE IZ VRUĆE PONUDE</button>
      </div>
    </div>

    <div class="mainflex_proizvodi-home" id="mainflex_proizvod4">
      <div id="mainflex_proizvodi_naslov4">
        <div class="bijeli_left"></div>
        <img src="src/assets/images/home/rightside/novo-icon.png"/>
        <h4>NOVO U PONUDI</h4>
        <div class="bijeli_right"></div>
      </div>
      <div class="proizvodi_flex-home" ng-if="!vm.aktiviranoNovo">
        <div class="proizvod-home" ng-repeat="proizvod in vm.novoproizvodiDataFirstFour">
          <img class="proizvod_img" ng-src="{{proizvod.url}}"/>
          <h4 class="proizvod_h4"><a href ng-click="vm.goToProduct('_' + proizvod.id)">{{proizvod.naziv}}</a></h4>
          <p class="proizvod_p1">{{proizvod.vrijeme}}</p>
          <p class="proizvod_p2"><span>{{proizvod.cijena1}}</span> {{proizvod.cijena2}}</p>
        </div>
      </div>
      <div class="proizvodi_flex-home" ng-if="vm.aktiviranoNovo" ng-repeat="proizvodi in vm.novoproizvodiDataChunked">
        <div class="proizvod-home" ng-repeat="proizvod in proizvodi">
          <img class="proizvod_img" ng-src="{{proizvod.url}}"/>
          <h4 class="proizvod_h4"><a href ng-click="vm.goToProduct('_' + proizvod.id)">{{proizvod.naziv}}</a></h4>
          <p class="proizvod_p1">{{proizvod.vrijeme}}</p>
          <p class="proizvod_p2"><span>{{proizvod.cijena1}}</span> {{proizvod.cijena2}}</p>
        </div>
      </div>
      <div class="mainflex_proizvodi_dugme-home">
        <button ng-click="vm.aktiviranoNovo=true" ng-show="vm.novoMoreThanFour">POGLEDAJTE SVE PROIZVODE IZ VRUĆE PONUDE</button>
      </div>
    </div>
    <div class="mainflex_proizvodi-home" id="mainflex_proizvod5">
      <div id="mainflex_proizvodi_naslov5">
        <div class="bijeli_left"></div>
        <img src="src/assets/images/home/rightside/rasprodaja-icon.png"/>
        <h4>RASPRODAJA</h4>
        <div class="bijeli_right"></div>
      </div>
      <div class="proizvodi_flex-home" ng-if="!vm.aktiviranoRasprodaja">
        <div class="proizvod-home" ng-repeat="proizvod in vm.rasprodajaproizvodiDataFirstFour">
          <img class="proizvod_img" ng-src="{{proizvod.url}}"/>
          <h4 class="proizvod_h4"><a href ng-click="vm.goToProduct('_' + proizvod.id)">{{proizvod.naziv}}</a></h4>
          <p class="proizvod_p1">{{proizvod.vrijeme}}</p>
          <p class="proizvod_p2"><span>{{proizvod.cijena1}}</span> {{proizvod.cijena2}}</p>
        </div>
      </div>
      <div class="proizvodi_flex-home" ng-if="vm.aktiviranoRasprodaja" ng-repeat="proizvodi in vm.rasprodajaproizvodiDataChunked">
        <div class="proizvod-home" ng-repeat="proizvod in proizvodi">
          <img class="proizvod_img" ng-src="{{proizvod.url}}"/>
          <h4 class="proizvod_h4"><a href ng-click="vm.goToProduct('_' + proizvod.id)">{{proizvod.naziv}}</a></h4>
          <p class="proizvod_p1">{{proizvod.vrijeme}}</p>
          <p class="proizvod_p2"><span>{{proizvod.cijena1}}</span> {{proizvod.cijena2}}</p>
        </div>
      </div>
      <div id="mainflex_proizvodi_dugme_orange-home">
        <button ng-click="vm.aktiviranoRasprodaja=true" ng-show="vm.rasprodajaMoreThanFour">POGLEDAJTE SVE PROIZVODE IZ VRUĆE PONUDE</button>
      </div>
    </div>
  </div>
</div>