<div ng-controller="footerController as vm" class="topfooter">
    <div class="container">
        <div
                class="logo-area"
                data="vm.logos"
                slick-slider="{dots: false, arrows: true, draggable: false, autoplay: true, autoplaySpeed: 2000, slidesToShow: 5, infinite: false}">
            <div
                    class="my-slide"
                    ng-repeat="logo in vm.logos" >
                <img ng-src="{{logo.url}}" alt="Logo {{$index + 1}}">
            </div>
        </div>
    </div>
</div>

<div class="midfooter" ng-controller="footerController as vm">
    <div class="midfooter_item" ng-repeat="foot2block in vm.footerData.foot2">
        <h3>{{foot2block.naziv}}</h3>
        <ul>
            <li ng-repeat="foot2blockelement in foot2block.elementi" ><a>{{foot2blockelement}}</a></li>
        </ul>
    </div>
</div>
<div class="botfooter" ng-controller="footerController as vm">
    <p>&copy; {{vm.footerData.foot3[0].naziv}} <a>{{vm.footerData.foot3[1].naziv}}</a> {{vm.footerData.foot3[2].naziv}}</p>
</div>